body {
  background-color: #FFEDED;
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(0, 0, 0);
  height: 100vh;
}


.blognav {
  position: fixed;
  margin: 0;
  padding: 0;
  text-align: center;
  top: 0;
  width: 15%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  overflow: auto;
}

.blognav a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  width: 60%;
  text-decoration: none;
  border-bottom: 0.5px solid rgb(46, 46, 46);
}

.blognav a:hover {
  background-color: #FFEDED;
  color: black;
}


.design-stuff {
  display: block;
  background-color: rgb(255, 255, 255);
  right: 5px;
  width: 84%;
  float: right;
  font-size: x-large;
  line-height: 4vh;
}


form {
  float: right;
  padding: 10px;
}

td {
  padding: 5px;
  text-align:center;
  width: 33%;
}

a.active {
  background: rgb(0, 0, 0);
  color: white;
  padding: 16px;
  border-radius: 12px;
}

ul {
  list-style-type: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.return {
  bottom: 0px;
}

a.return {
  background: rgb(0, 0, 0);
  color: white;
  padding: 16px;
  border-radius: 12px;
}

img {
  border: solid 2px;
}

.style {
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.myTable {
  display: block;
  margin-left: auto;
  margin-right: auto;
  ;
}

